# API
VITE_API_URL=https://localhost:7117
VITE_API_BASE_PATH=/api

# App
VITE_APP_NAME=TuranLogix
VITE_APP_URL=https://turanlogix.kz
VITE_DEFAULT_LOCALE=ru

# Analytics (optional)
VITE_YANDEX_METRIKA_ID=
VITE_GA_MEASUREMENT_ID=

# Maps
VITE_MAPBOX_TOKEN=
